@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.font-primary{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.dark-2{
    font-size: 16px;
    font-weight: 400;
    opacity: .7;
    line-height: 26px;
}

button, input[type="submit"]{
    cursor: pointer;
    transition: transform .1s, box-shadow .1s;
}

button:active, input[type="submit"]:active{
    transform: scale(.95);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, .2);
}

a > button{
    margin: 0px;
}

/* nav-bar */
header{
    width: 100%;
}
.nav-bar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px 30px;
    font-size: 28px;
    font-weight: 800;
}
.nav-bar button{
    /* position: fixed;
    top: 40px;
    right: 200px; */
    padding: 15px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    color: rgba(13, 19, 33, .8);
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}

/* banner */
.banner{
    width: 100%;
    min-height: 652px;
    background: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 50px;
}
.banner h1{
    font-size: 48px;
    font-weight: 800;
}
.banner p{
    max-width: 853px;
}

.banner a button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 24px 21px;
    margin: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* why web development */
.why-web-dev{
    width: 1246px;
    min-height: 1233px;
    padding: 80px 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    gap: 100px;
    margin-bottom: 0px;
}
.why-web-dev-title{
    text-align: center;
}
.why-web-dev p{
    font-size: 16px;
    font-weight: 400;
    opacity: .7;
    line-height: 26px;
}
.why-web-dev h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.why-web-dev-item{
    border-radius: 16px;
    background: linear-gradient(to right, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 48px;
    margin-bottom: 0px;
}
.rev-grad{
    background: linear-gradient(to left, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.why-web-dev button{
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: white;
}
.why-web-dev p, h1, h3, button{
    margin: 30px 0px;
}

/* inspiration */
.inspiration{
    margin-top: 0px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
.inspiration p{
    padding: 0px 100px;
}
.inspiration h1{
    margin-top: 0px;
}
.iframe-container{
    width: 1376px;
    height: 650px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.iframe-container iframe{
    width: 100%;
    height: 100%;    
    border-radius: 16px;
}


/* my current target */
.current-target-container{
    margin-top: 0px;
    width: 1440px;
    min-height: 460px;
    text-align: center;
}
.item-container{
    margin-top: 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-target-container .item{
    width: 320px;
    min-height: 400px;
    padding: 40px;
    margin: 0px;
    border-radius: 16px;
   
}
.current-target-container > p{
    padding: 0px 90px;
}
.item-bg-1{
    background: rgba(255, 76, 30, 0.05);
}
.item-bg-2{
    background: rgba(0, 76, 232, 0.05);
}
.item a{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

/* my next target */
.next-target-container{
    width: 1440px;
    min-height: 705px;
    text-align: center;
    margin: 0px;
}
.next-target-container .item{
    text-align: left;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.next-target-container .item h1, p{
    margin: 0px;
}
.next-target-container > p{
    padding: 0px 90px;
}
/* feedback */
.feedback-container{
    width: 1440px;
    min-height: 313px;
    background: url(../assets/handshake.jpg), radial-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
}
.feedback-container > div{
    padding: 64px 48px;
}
.feedback-container h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;

    margin: 10px 0px;
}
.feedback-container p{
    color: rgb(255, 255, 255);
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.feedback-container input[type="submit"], textarea{
    margin-top: 50px;
    display: inline;
    resize: none;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.feedback-container input[type="submit"]{
    font: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 17px 20px
}
.feedback-container textarea{
    font-size: 15px;
    font-weight: 400;
    width: 500px;
    padding: 19px 20px
}

/* footer */
footer{
    width: 1140px;
    padding: 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h1{
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
}
footer input[type="submit"]{
    font-size: 20px;
    font-weight: 600;
}
.social-media a{
    margin-left: 20px;
}
